{% extends 'base.html.twig' %}

{% block title %}
	Mon compte
{% endblock %}

{% block body %}

	<section class="container">
		<div class="row">
			<div
				class="col">
				{# Variable pour le front dynamique #}
				{% set currentHour = "now"|date("H") %}
				{% if currentHour < 20 %}
					<h1 class="Profil">
						Bonjour,
						{{ (app.user.lastname) }}
						{{ (app.user.firstname) }}
					</h1>
				{% else %}
					<h1 class="Profil">
						Bonsoir,
						{{ (app.user.lastname) }}
						{{ (app.user.firstname) }}
					</h1>
				{% endif %}
				{# Variable pour le front dynamique #}
				<div class="centerForm">
					<div class="formProfil">

						{{ form_start(form) }}
						<div class="d-flex justify-content-between mb-4">
							<fieldset class="mb-3">
								<legend>Modifier mon mot de passe</legend>
                                {{ form_label(form.plainPassword) }}
								{{ form_widget(form.plainPassword) }}
							</fieldset>
						</div>

						{{ form_rest(form) }}
						<button type="submit" class="btn btn-secondary btn-lg my-3">
							Modifier
						</button>
						{{ form_end(form) }}

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
