{% extends 'base.html.twig' %}

{% block title %}
	Mon compte
{% endblock %}

{% block body %}

	<section class="container">
		<div class="row">
			<div class="col">

				{# Variable pour le front dynamique #}
				{% set currentHour = "now"|date("H") %}

				<h1 class="Profil">
					{% if currentHour < 20 %}
						Bonjour,
					{% else %}
						Bonsoir,
					{% endif %}
					{{ (app.user.lastname) }}
					{{ (app.user.firstname) }}
				</h1>
				
				{# Variable pour le front dynamique #}
				
				<div class="centerForm">
					<div class="formProfil">

						{{ form_start(formModifyPassword) }}
						<div class="d-flex justify-content-between mb-4">
							<fieldset class="mb-3">
								<legend>
									Entrez mon ancien mot de passe
								</legend>
								{{ form_label(formModifyPassword.plainPassword) }}
								{{ form_widget(formModifyPassword.plainPassword) }}
							</fieldset>
						</div>

						{# {{ form_start(formModifyPassword) }} #}
						<div class="d-flex justify-content-between mb-4">
							<fieldset class="mb-3">
								<legend>
									Entrez mon nouveau mot de passe
								</legend>
								{{ form_label(formModifyPassword.newPassword) }}
								{{ form_widget(formModifyPassword.newPassword) }}
							</fieldset>
						</div>


						{{ form_rest(formModifyPassword) }}
						{# <button type="submit" class="btn btn-secondary btn-lg my-3">
							Modifier
						</button> #}
						{{ form_end(formModifyPassword) }}

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

