{% extends 'base.html.twig' %}

{% block title %} Mon compte {% endblock %}

{% block body %}

 <section class="container">
        <div class="row">
            <div class="col">
             {# Variable pour le front dynamique #} 
                {% set currentHour = "now"|date("H") %}
                {% if currentHour < 20 %}
                <h1 class="Profil"> Bonjour,  {{ (app.user.lastname) }} {{ (app.user.firstname) }} </h1>
                {% else %}
                <h1 class="Profil"> Bonsoir,  {{ (app.user.lastname) }} {{ (app.user.firstname) }} </h1>
                {% endif %}
             {# Variable pour le front dynamique #} 

                <div class="formProfil">

                    {{ form_start(form) }}

                    <fieldset class="mb-3">
                        <legend>Mon identité</legend>
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_label(form.lastname) }}
                            {{ form_widget(form.lastname) }}
                            {{ form_label(form.firstname) }}
                            {{ form_widget(form.firstname) }}
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend>Mes coordonnées</legend>
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address) }}
                            {{ form_label(form.zipcode) }}
                            {{ form_widget(form.zipcode) }}
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                    </fieldset>

                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-secondary btn-lg my-3"> Modifier </button>
                            {{ form_end(form) }}

                </div>          
            </div>
        </div>
    </section>
{% endblock %}
