{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1 class="Inscription">
					INSCRIVEZ-VOUS
				</h1>
				<div class="centerForm">
					{# <div class="w-100"> #}
					<div class="formInscription">

						{{ form_start(registrationForm) }}
						<div class="d-flex justify-content-between mb-4">
							<fieldset class="mb-3">
								<legend>Mon identité</legend>
								{{ form_row(registrationForm.lastname) }}
								{{ form_row(registrationForm.firstname) }}
								{{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.plainPassword, {
                                label: 'Mot de passe'
                                 }) }}
							</fieldset>

							<fieldset class="mb-3">
								<legend>Mes coordonnées</legend>
								{{ form_row(registrationForm.address) }}
								{{ form_row(registrationForm.zipcode) }}
								{{ form_row(registrationForm.city) }}
							</fieldset>
						</div>
					
						{{ form_row(registrationForm.RGPDConsent) }}

						<button type="submit" class="btn btn-secondary btn-lg my-3">
							Inscription
						</button>
						<a href="{{ path('app_login') }}" class="btn btn-secondary btn-lg my-3">
							Connexion
						</a>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
